@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
@import "tailwindcss";
/* Import Poppins font */

/* Custom theme styling */
@theme {
    --font-family-sans: Poppins, sans-serif;

    /* Typography sizes */
    --text-xs: 0.75rem;
    --text-sm: 0.875rem;
    --text-base: 1rem;
    --text-lg: 1.125rem;
    --text-xl: 1.25rem;
    --text-2xl: 1.5rem;
    --text-3xl: 1.875rem;
    --text-4xl: 2.25rem;

    /* Color palette */
    --color-primary: #4A90E2;
    --color-secondary: #FF4F81;
    --color-accent: #FFC107;
    --color-bg-light: #BDD8FF;
    --color-bg-dark: #1E3A8A;
    --color-text-dark: #333333;
    --color-text-light: #FFFFFF;

    /* Button styles */
    --button-bg: var(--color-primary);
    --button-hover: #357ABD;
    --button-text: var(--color-text-light);

    /* Card styles */
    --card-bg: var(--color-bg-light);
    --card-border: #D1D5DB;
    
}

body {
    font-family: var(--font-family-sans);
    color: var(--color-text-light);
    background-color: var(--color-bg-light);
    overflow-y: hidden
}

/* Navbar styling */
.navbar {
  @apply bg-[#0151C2] flex items-center justify-between px-3 py-2;
}

button {
    @apply hover:cursor-grab
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    /* arrow icon position (1em from the right, 50% vertical) , then gradient position*/
    background-position: right .7em top 50%, 0 0;
    /* icon size, then gradient */
    background-size: .65em auto, 100%;
}